:root {
	--background-colour: #fff5f5;
	--link-colour: #01295F;
	--text-colour: #000000;
	--shadow-colour: rgba(0, 0, 0, 0.2);
	--brand-colour: #1c77ac;
	--card-radius: 4px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-colour: #121211;
		--link-colour: #FFA500;
		--text-colour: #FFFFFF;
		--brand-colour: #1c77ac;
		--shadow-colour: rgba(255, 255, 255, 0.2);
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Inter", sans-serif;
	color: var(--text-colour);
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: var(--background-colour);
}

main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--link-colour);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

article {
	padding: 0.4rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-weight: bold;
	font-size: 2rem;
}
h2 {
	font-weight: normal;
	font-size: 1.8rem;
	margin-top: 1rem;
}

hr {
	margin-top: 1rem;
	min-width: 25%;
	border-bottom: 1px solid var(--text-colour);
}

ul {
	list-style: none;
}

@media screen and (min-width: 760px) {
	main {
		padding-top: 5rem;
	}

	article {
		padding-left: 4rem;
		padding-right: 4rem;
		align-items: flex-start;
	}
}
