.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.title h1 {
	font-weight: 300;
	font-size: 2rem;
}

.title h2 {
	font-weight: 500;
	font-size: 1.6rem;
}

.links {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	list-style: none;
}

.name {
	font-weight: 900;
	transition: transform 400ms;
}
.name:hover {
	display: inline-block;
	transform: scale(1.01);
}

.italic {
	font-style: italic;
	transition: font-style 600ms;
}

.italic:hover {
	font-style: normal;
}
